<div class="footer__wrap">
  <nav class="footer__nav" aria-label="하단 정보 메뉴">
    <ul class="footer__nav-list">
      <li><a href="#">호두샵 소개</a></li>
      <li><a href="#">이용약관</a></li>
      <li><a href="#">개인정보처리방침</a></li>
      <li><a href="#">전자금융거래약관</a></li>
      <li><a href="#">청소년보호정책</a></li>
      <li><a href="#">제휴문의</a></li>
    </ul>
  </nav>
  <section class="footer__social" aria-label="SNS 링크">
    <ul class="footer__sns">
      <li>
        <a href="#"
          ><img src="../../assets/icons/icon-fb.svg" alt="Facebook"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img src="../../assets/icons/icon-insta.svg" alt="Instagram"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img src="../../assets/icons/icon-yt.svg" alt="YouTube"
        /></a>
      </li>
    </ul>
  </section>
</div>
<address class="footer__info">
  <p><strong>(주)HODU SHOP</strong></p>
  <p>제주특별자치도 제주시 동광고 137 제주코딩베이스캠프</p>
  <p>사업자등록번호: 000-00-00000 | 통신판매업</p>
  <p>대표 : 김호두</p>
</address>
