<div class="header__wrap">
  <div class="header__logo-wrap">
    <a href="/" class="header__logo-link">
      <img class="header__logo-img" src="/assets/icons/Logo-hodu.svg" alt="" />
      <h1 class="sr-only">호두 판매자</h1>
    </a>
    <form class="header__search-form">
      <input
        type="text"
        class="header__search-input"
        name="search-input"
        placeholder="상품을 검색해보세요!"
      />
      <button type="submit" class="header__search-btn" aria-label="검색">
        <img src="/assets/icons/search.svg" alt="" />
      </button>
    </form>
  </div>
  <ul class="header__menu"></ul>
</div>
